.bg-level-1 {
    background-image: url('../../../../public/assets/comingsoon/comingbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .bg-level-2 {
    background-image: url('../../../../public/assets/comingsoon/level1bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  
  .bg-level-3 {
    background-image: url('/path-to-background-image-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


  }
  
  .level3{
    background-image: url(../../../../public/level3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

  
  .level4 {
    background-image: url(../../../../public/level4bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
  
  }
  